body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  border-radius: 8px;
  height: 30px;
  margin: 8px;
  padding: 8px;
  width: 400px;
}

.incomplete-area {
  background-color: #c6ffe2;
  border-radius: 8px;
  margin: 8px;
  min-height: 200px;
  width: 400px;
}

.complete-area {
  background-color: #ffffe2;
  border-radius: 8px;
  margin: 8px;
  min-height: 200px;
  width: 400px;
}

.title {
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-top: 0;
}

.list-row {
  align-items: center;
  display: flex;
  padding-bottom: 4px;
}

.item {
  margin-right: 8px;
}
